.cuerpo-contacto{
   
    padding-top: 59px;
}


.redes-contacto{
    display: flex;
    flex-direction: row;
    padding: 10px;

    .iconos-contacto{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        
        border: 20px;

        p{
            padding: 15px;
            color: $rojo-fatto;
        }

        img{
            width: 90px;
            height: auto;
        }
    }
}

.fondo-form-contacto{
    position: absolute;
    top: 59px;
    background-color: $crema-rosa-fatto;
    z-index: 2;

    p{
        padding: 10px;
        margin: 10px;
    }
}

.form-contacto{
    display: flex;
    flex-direction: column;
    z-index: 2;
    p{
        font-weight: bold;
        font-size: 55px;
        line-height: 50px; 
        text-align: right;
        color: $crema-fatto
    }

    .formulario{
        div{
            padding: 10px;
        }
    }

    .input{
        display: flex;
        flex-direction: column;
    }
    input{
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: $rojo-fatto;
        border-bottom-width: 1px;
    }

    .boton-enviar{
        background-color: $rojo-fatto;
        color: $crema-fatto;
        border-style: none;
        border-radius: 10px;
        padding: 5px 10px;
    }

    textarea{
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: $rojo-fatto;
        border-bottom-width: 1px;
        resize: none;
    }

}

.envios-caba{
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: $rojo-fatto;
}

@media (min-width: 769px) and (max-width: 1024px){
    .redes-contacto{
        padding: 10px;
        margin: 10px;
    
        .iconos-contacto{
          border: 10px;
    
            p{
                font-size: 14px;
                padding: 25px 5px;
                color: $rojo-fatto;
            }
    
            img{
                width: 60px;
                height: auto;
            }
        }
    }

    .form-contacto{
        p{
            font-size: 35px;
            line-height: 40px; 
   
        }
    
        .formulario{
            div{
                padding: 5px;
            }
        }
    }

    .mapa-envios{
        img{
            width: 80vw;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .fondo-form-contacto{
        position: relative;
        top: 0px;
        background-color: $crema-rosa-fatto;
        z-index: 2;
    
        p{
            padding: 10px;
            margin: 0px;
        }
    }
    .redes-contacto{
        padding: 10px;
        margin: 0px 10px;
    
        .iconos-contacto{
          border: 10px;
    
            p{
                font-size: 14px;
                padding: 25px 5px;
                color: $rojo-fatto;
            }
    
            img{
                width: 50px;
                height: auto;
            }
        }
    }

    .form-contacto{
        p{
            font-size: 35px;
            line-height: 40px; 
   
        }
    
        .formulario{
            div{
                padding: 5px;
            }
        }
    }

    .mapa-envios{
        img{
            width: 90vw;
            height: auto;
        }
    }
}