#nav-productos{
    background: #FFFBE9;
    position: fixed;
    height: 50px;
    top: 59px;
    z-index: 3;
    width: 100%;
    
    ul{
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;

        .nav-vinos{
            ::after{
                content: "";
                display: block;
                width: 1px;
                height: 30%;
                background: $rojo-fatto;
                position: absolute;
                top: 13px;
                left: -20px;
            }
        }

    }
    ul li{
        display: inline-block;
        height: 50px;
        padding: 10px;
        margin: 10px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 0.02em;
        position: relative;

        ::after{
            content: "";
            display: block;
            width: 1px;
            height: 30%;
            background: $rojo-fatto;
            position: absolute;
            top: 13px;
            left: -20px;
           
        }

        a{
            color: $marron-fatto;
            text-decoration: none;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;


        }

       
    }
} 


.cuerpo{
    margin-top: 135px;
}

.fondo-bordo-pastas{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 108px;
    width: 45%;
    height: 120px;
    background-color: $crema-rosa-fatto;
}

.fondo-bordo-pastas2{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 510px;
    width: 45%;
    height: 120px;
    background-color: $crema-marron-fatto;
}

.fondo-bordo-pastas3{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 950px;
    width: 45%;
    height: 120px;
    background-color: $crema-rosa-fatto;
}

.fondo-bordo-pastas4{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 1390px;
    width: 45%;
    height: 120px;
    background-color: $crema-marron-fatto;
}

.fondo-bordo-pastas5{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 1790px;
    width: 45%;
    height: 120px;
    background-color: $crema-rosa-fatto;
}



.titulo-productos{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;

    h1{
        font-size: 80px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: $crema-fatto;
    }

    p{
        font-weight: semi-bold;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: $crema-fatto;
        margin: 0;
    }
}

.productos-pastas{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: 40;
    margin-right: 40px;
    scale: 100%;
    

    
    h3{
        font-weight: 600;
    }

    p2{
        font-size: 16pt;
        font-weight: 600;
    }

}

.prod{
    transition: transform .2s;
}

.prod :hover{
    transform: scale(1.03);
    z-index: 3;
    
}
.boton-armar-pasta{
    background-color: $rojo-fatto;
    color: $crema-fatto;
    padding: 8px;
    border-style: none;
    border-radius: 10px;
    font-size: 10pt;
}

.linea-productos{
    display: flex;
    width: 100%;

}

.pastas{
    margin-bottom: 70px;
}

.animate__bounceInLeft{
    animation-duration: 1s;
}

