#nav-productos{
    background: #FFFBE9;
    position: fixed;
    height: 50px;
    top: 59px;
    z-index: 3;
    width: 100vw;
    
    ul{
        display: flex;
        width: 100vw;
        justify-content: center;
        position: relative;

        .nav-vinos{
            ::after{
                content: "";
                display: block;
                width: 1px;
                height: 30%;
                background: $rojo-fatto;
                position: absolute;
                top: 13px;
                left: -20px;
            }
        }

    }
    ul li{
        display: inline-block;
        height: 50px;
        padding: 10px;
        margin: 10px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 0.02em;
        position: relative;

        ::after{
            content: "";
            display: block;
            width: 1px;
            height: 30%;
            background: $rojo-fatto;
            position: absolute;
            top: 13px;
            left: -20px;
           
        }

        a{
            color: $marron-fatto;
            text-decoration: none;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: uppercase;


        }

       
    }
} 


.cuerpo{
    margin-top: 135px;
}

#productos-titulo-pastas{
    position: relative;

    .fondo-bordo-pastas{
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0px;
        width: 45%;
        height: 120px;
        background-color: $crema-rosa-fatto;
    }
}

#productos-titulo-salsas{
    position: relative;
    .fondo-bordo-pastas2{
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0px;
        width: 45%;
        height: 120px;
        background-color: $crema-marron-fatto;
    }
}


#productos-titulo-pizzas{
    position: relative;

    .fondo-bordo-pastas3{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0px;
    width: 45%;
    height: 120px;
    background-color: $crema-rosa-fatto;
    }
}


#productos-titulo-quesos{
    position: relative;

    .fondo-bordo-pastas4{
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0px;
        width: 45%;
        height: 120px;
        background-color: $crema-marron-fatto;
    }
    
}


#productos-titulo-bebidas{
    position: relative;
    .fondo-bordo-pastas5{
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0px;
        width: 45%;
        height: 120px;
        background-color: $crema-rosa-fatto;
    }

}




.titulo-productos{
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    /*margin-bottom: 10px;*/

    h1{
        font-size: 80px;
        font-weight: 400;
        /*line-height: 24px;*/
        letter-spacing: 0.02em;
        color: $crema-fatto;
    }

    p{
        font-weight: semi-bold;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: $crema-fatto;
        margin: 0;
    }
}

.productos-pastas{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: 40;
    margin-right: 40px;
    scale: 100%;
    

    
    h3{
        font-weight: 600;
    }

    p2{
        font-size: 16pt;
        font-weight: 600;
    }

}

.prod{
    transition: transform .2s;
}

.prod :hover{
    transform: scale(1.03);
    z-index: 3;
    
}
.boton-armar-pasta{
    background-color: $rojo-fatto;
    color: $crema-fatto;
    padding: 8px;
    border-style: none;
    border-radius: 10px;
    font-size: 10pt;
}

.linea-productos{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
}

.pastas{
    margin-bottom: 70px;
}

.animate__bounceInLeft{
    animation-duration: 1s;
}

@media (min-width: 769px) and (max-width: 1024px){
    .titulo-productos{
        p{
            font-size: 16px; 
        }
    }

   .productos-pastas{
       p{
        font-size: 12px;
       }
   }
}

@media (min-width: 550px) and (max-width: 768px) {

    .titulo-productos{
        h1{
            font-size: 60px;
        }
        p{
            font-size: 13px; 
        }
    }

   .productos-pastas{
       p{
        font-size: 10px;
       }
   }

    .linea-productos{
        margin-left: 20px;
        overflow-x: scroll;
        width: 100vw;
    }
}

@media (max-width: 549px) {

    #nav-productos{
        width: 100vw;
        
        ul{
            display: flex;
            width: 100vw;
            justify-content: center;
            position: relative;
    
            .nav-vinos{
                ::after{
                    content: "";
                    display: block;
                    width: 1px;
                    height: 30%;
                    background: $rojo-fatto;
                    position: absolute;
                    top: 8px;
                    left: -5px;
                }
            }
    
        }
        ul li{
           
            padding: 2px;
            margin: 10px 5px;
                
            ::after{
                content: "";
                display: block;
                width: 1px;
                height: 30%;
                background: $rojo-fatto;
                position: absolute;
                top: 8px;
                left: -5px;
               
            }
    
            a{
               
                font-size: 14px;
                text-transform: uppercase;
    
    
            }
    
           
        }
    } 

    .titulo-productos{
        h1{
            margin-left: 15px;
            font-size: 50px;
        }
        p{
            font-size: 15px; 
        }
    }

   .productos-pastas{

        h3{
            font-size: 20px;
        }
       p{
        font-size: 10px;
       }
   }

    .linea-productos{
        margin-left: 15px;
        overflow-x: scroll;
        width: 100vw;
    }

    #productos-titulo-bebidas{
        .fondo-bordo-pastas5{
            width: 95%;
        }
    
    }
    #productos-titulo-pastas{
        .fondo-bordo-pastas{
            width: 95%;
        }
    }
    
    #productos-titulo-salsas{
        .fondo-bordo-pastas2{
            width: 95%;
        
        }
    }
    
    
    #productos-titulo-pizzas{
        .fondo-bordo-pastas3{
        width: 95%;
        }
    }
    
    
    #productos-titulo-quesos{
            .fondo-bordo-pastas4{
            width: 95%;
        }
        
    }
}

@media (max-width: 320px) {
    #nav-productos{  
        ul li{
            a{  
                font-size: 12px;
            }
        }
    } 

    .productos-pastas{

        h3{
            font-size: 12px;
        }
       p{
        font-size: 8px;
       }
   }
}
